.row {
  display: flex;
}

.list {
  min-height: 100%;
  caret-color: transparent;
}

.ticket {
  background-color: rgb(245, 245, 245);
  margin-top: 8px;
  border-radius: 4px;
  cursor: pointer;
  min-height: 60px;
}

.cdk-drag-preview {
  color: darkgray;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.ticket-title {
  font-weight: 300;
  padding: 12px;
  word-break: break-all;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.spacer {
  flex: 1 1 auto;
}

.is-root {
  display: none;
}

.action-buttons button {
  transition: 0.2s;

  &:hover {
    color: black;
  }
}

.add-ticket-button {
  margin-top: 8px;

  button {
    min-height: 85px;
    width: 100%;
    font-size: 24px;
    font-weight: 200;
  }
}
