<h2>{{ title }}</h2>
<div
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="tickets"
  [id]="id"
  cdkDropList
  class="list"
>
  <ng-container *ngFor="let ticket of tickets">
    <div
      [cdkDragData]="ticket"
      cdkDrag
      class="ticket"
      [ngClass]="{ 'is-root': ticket.isRoot }"
    >
      <div>
        <div class="action-buttons">
          <button
            (click)="delete(ticket)"
            [disabled]="!ticket.id || (isUpdateInProgress$ | async)"
            aria-label="delete ticket"
            mat-icon-button
            class="delete-ticket"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button
            (click)="edit(ticket)"
            [disabled]="!ticket.id || (isUpdateInProgress$ | async)"
            aria-label="edit ticket"
            mat-icon-button
            class="edit-ticket"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="ticket-title">{{ asTicket(ticket).title }}</div>
      </div>
    </div>
  </ng-container>
  <div fxLayoutAlign="center" class="add-ticket-button">
    <button
      (click)="addTicket(status)"
      [disabled]="isUpdateInProgress$ | async"
      mat-button
    >
      +
    </button>
  </div>
</div>
