<div class="site-container">
  <app-board></app-board>
</div>
<div class="buttons">
  <button mat-button (click)="getAll(TicketStatus.TO_DO)">getAll to do</button>
  <button mat-button (click)="getAll(TicketStatus.TO_TEST)">
    getAll to test
  </button>
  <button mat-button (click)="getAll(TicketStatus.DONE)">getAll done</button>
  <button mat-button (click)="getAll()">getAll</button>
  <button mat-button (click)="add(TicketStatus.TO_DO)">add to do</button>
  <button mat-button (click)="add(TicketStatus.TO_TEST)">add to test</button>
  <button mat-button (click)="add(TicketStatus.DONE)">add done</button>
  <button mat-button (click)="delete()">DELETE</button>
</div>
