<div cdkDropListGroup>
  <div class="row">
    <div class="col-sm-4">
      <app-swimlane
        [id]="'toDo'"
        [status]="TicketStatus.TO_DO"
        [title]="'To Do'"
        [tickets]="ticketsToDo"
      ></app-swimlane>
    </div>
    <div class="col-sm-4">
      <app-swimlane
        [id]="'toTest'"
        [status]="TicketStatus.TO_TEST"
        [title]="'To Test'"
        [tickets]="ticketsToTest"
      ></app-swimlane>
    </div>
    <div class="col-sm-4">
      <app-swimlane
        [id]="'done'"
        [status]="TicketStatus.DONE"
        [title]="'Done'"
        [tickets]="doneTickets"
      ></app-swimlane>
    </div>
  </div>
</div>
