<div cdkDropListGroup>
  <div class="row">
    <div class="col-sm-4">
      <app-swimlane
        [id]="'toDo'"
        [status]="TicketStatus.toDo"
        [title]="'To Do'"
        [tickets]="allTickets.toDo"
        (dropEventEmitter)="drop($event)"
      ></app-swimlane>
    </div>
    <div class="col-sm-4">
      <app-swimlane
        [id]="'toTest'"
        [status]="TicketStatus.toTest"
        [title]="'To Test'"
        [tickets]="allTickets.toTest"
        (dropEventEmitter)="drop($event)"
      ></app-swimlane>
    </div>
    <div class="col-sm-4">
      <app-swimlane
        [id]="'done'"
        [status]="TicketStatus.done"
        [title]="'Done'"
        [tickets]="allTickets.done"
        (dropEventEmitter)="drop($event)"
      ></app-swimlane>
    </div>
  </div>
</div>
